* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

    .list-nav {
        height: 100%;
        display: flex;
        list-style: none;
    }

        .list-nav__item {
            padding: 0 15px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
        }

            .list-nav__item::before {
                content: "";
                width: 0;
                height: 2px;
                position: absolute;
                bottom: 0;
                background: #000;
                transition: 0.3s all ease;
            }

            .list-nav__item:hover::before {
                width: 100%;
            }

.main {
    width: 100%;
    height: 100vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg,rgb(65, 166, 225) 20%, yellowgreen 110%);
}

.card {
    max-width: 70vh;
    min-height: 0;
    padding: 50px;
    border-radius: 15px;
    transition: 1s all ease;
}

    .card:hover{ 
        box-shadow: 0 0 20px 10px #0002;
        transform: scale(1.1);
    }

    .card__title {
        margin-bottom: 20px;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .card__parrafo {
        margin-bottom: 10px;
    }
    
        .card__parrafo:last-child {
            margin-bottom: 0;
        }

.whatsApp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
    
    .whatsApp__icon {
        width: 50px;
        height: 50px;
    }

.footer {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

    .footer__creditos {
        color: #FFFC;
        font-weight: 700;
    }